img {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

p {
  font-weight: bold;
}

.strMeal {
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 10px;
}
